/* ---------------------------------------------------------------- */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("https://cdn.discordapp.com/attachments/1319781510148132915/1531493737157623908/HOQ-qaCXoAAIm8G.jpg?ex=6a696a30&is=6a6818b0&hm=1aab2b1749adb7226733f39b604cdbce48bcecc684e8fe7d68ddcae4a0cad985&");
    background-color: #32327d;



    h2, h1, h5, p, #Paragraph {
    color: #ffffff;
    font-family: "Courier New", serif;
}

    color: #ffffff;
    font-family: "Courier New", serif;
}

#navbar { /* unvisited link */
 a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 100, 100);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  } }

/* ---------------------------------------------------------------- */

#TextAlignCenter {
    text-align: center;
}

#TextAlignLeft {
    text-align: left;
}

#TextAlignRight {
    text-align: right;
}
/* ---------------------------------------------------------------- */

#ImageAlignLeft {
    text-align: right;
}

/* ================================================================ */
/* ---------------------------------------------------------------- */

#Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

/* ---------------------------------------------------------------- */

.footer{
    margin-top: auto;
}


